<!DOCTYPE html>
<html lang = "en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>LOGIN</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
           
                 
        
	
	<div class="container">
		<img th:src="@{/images/login.png}" class="img-responsive center-block" width="300" height="700" alt="Logo" />
		<form style ="background-color: #c0c0c0;" th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="LOGIN"></h3>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password is invalid</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
                       
                        <div align ="center">
                            <br>
                         <a style ="color: #00000"  th:href="@{/registration}" method="get">
                             <b>    CREATE ACCOUNT</b>
                         </a>
                        </div>
                        
                       
			

		</div>
                     
                        
                        
                </form>
                
                 
                
               
               
	</div>
</body>
</html>